.exercicio-view {
  max-width: 600px;
  margin: 0 auto;
}

.exercicio-view form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.exercicio-view form div {
  margin-bottom: 10px;
}
