
.equipamento-view {
  max-width: 600px;
  margin: 0 auto;
}

.equipamento-view form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.equipamento-view form div {
  margin-bottom: 10px;
}

.equipamento-view ul {
  list-style: none;
  padding: 0;
}

.equipamento-view li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
