.contrato-view {
    max-width: 600px;
    margin: 0 auto;
  }
  .contrato-view form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .contrato-view form div {
    margin-bottom: 10px;
  }